header {
  background-color: #7dd87d;
}
.diagonal-bg {
  background-image: -webkit-linear-gradient(#7dd87d, #7dd87d);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 1200px;
  transform: skewY(-5deg);
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1600px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.3px solid #7dd87d;
  padding: 10px 20px;
}

.block h2 {
  position: relative;
  z-index: 3;
  top: -10px;
  font-size: 40px;
  font-weight: bold;
}

.block:last-child h2 {
  position: relative;
  top: -10px;
}

.block h2 a {
  text-decoration: none;
  color: #7dd87d;
}

.block i {
  color: #7dd87d;
}

.gradient {
  background-image: linear-gradient(to right, #a8ff78, #78ffd6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  transition: 500ms;
  animation: animatedText 5s alternate-reverse infinite;
}
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
